<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <!-- start: Icons -->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <!-- start: Icons -->
  <!-- start: CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link rel="stylesheet" href="/src/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <!-- end: CSS -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link rel="stylesheet" href="/src/css/dataTables.bootstrap5.min.css">


  <!-- end: CSS -->
  <title>San Mathias</title>
</head>

<body>

  <!-- start: Sidebar -->
  <div class="sidebar position-fixed top-0 bottom-0 bg-white border-end">
    <div class="d-flex align-items-center p-3">
      <a href="/auth" class="sidebar-logo text-uppercase fw-bold text-decoration-none text-indigo fs-4">San
        Mathias</a>
      <i class="sidebar-toggle ri-arrow-left-circle-line ms-auto fs-5 d-none d-md-block"></i>
    </div>
    <ul class="sidebar-menu p-3 m-0 mb-0">
      <li class="sidebar-menu-item active">
        <a href="/auth">
          <i class="ri-dashboard-line sidebar-menu-item-icon"></i>
          Inicio
        </a>
      </li>
      <li class="sidebar-menu-divider mt-3 mb-1 text-uppercase">Modulos</li>
      <li class="sidebar-menu-item has-dropdown">
        <a href="#">
          <i class="ri-pages-line sidebar-menu-item-icon"></i>
          Seguridad
          <i class="ri-arrow-down-s-line sidebar-menu-item-accordion ms-auto"></i>
        </a>
        <ul class="sidebar-dropdown-menu">
          <li class="sidebar-dropdown-menu-item">
            <a href="/auth/usuarios">
              Usuarios
            </a>
          </li>
          <li class="sidebar-dropdown-menu-item">
            <a href="/auth/perfiles">
              Perfiles
            </a>
          </li>
          <li class="sidebar-dropdown-menu-item">
            <a href="/auth/recuperar">
              Recuperar Contraseña
            </a>
          </li>
        </ul>
      </li>
      <li class="sidebar-menu-item has-dropdown">
        <a href="#">
          <i class="ri-pages-line sidebar-menu-item-icon"></i>
          Almacen
          <i class="ri-arrow-down-s-line sidebar-menu-item-accordion ms-auto"></i>
        </a>
        <ul class="sidebar-dropdown-menu">
          <li class="sidebar-dropdown-menu-item">
            <a href="/auth/lista">
              Productos
            </a>
          </li>
          <li class="sidebar-dropdown-menu-item">
            <a href="/auth/categoria">
              Categorias
            </a>
          </li>
          <li class="sidebar-dropdown-menu-item">
            <a href="/auth/unidad">
              Unidades
            </a>
          </li>
        </ul>
      </li>
      <li class="sidebar-menu-item has-dropdown">
        <a href="#">
          <i class="ri-pages-line sidebar-menu-item-icon"></i>
          Compras
          <i class="ri-arrow-down-s-line sidebar-menu-item-accordion ms-auto"></i>
        </a>
        <ul class="sidebar-dropdown-menu">
          <li class="sidebar-dropdown-menu-item">
            <a href="/auth/almacen">
              Listas Compras
            </a>
          </li>
          <li class="sidebar-dropdown-menu-item">
            <a href="/auth/compras">
              Ingreso Compras
            </a>
          </li>
          <li class="sidebar-dropdown-menu-item">
            <a href="/auth/proveedores">
              Proveedores
            </a>
          </li>
        </ul>
      </li>
      <li class="sidebar-menu-item has-dropdown">
        <a href="#">
          <i class="ri-pages-line sidebar-menu-item-icon"></i>
          Ventas
          <i class="ri-arrow-down-s-line sidebar-menu-item-accordion ms-auto"></i>
        </a>
        <ul class="sidebar-dropdown-menu">
          <li class="sidebar-dropdown-menu-item">
            <a href="/auth/facturaciones">
              Lista de ventas
            </a>
          </li>
          <li class="sidebar-dropdown-menu-item">
            <a href="/auth/ventas">
              Nueva Venta
            </a>
          </li>
          <li class="sidebar-dropdown-menu-item">
            <a href="/auth/clientes">
              Clientes
            </a>
          </li>
        </ul>
      </li>

      <li class="sidebar-menu-item has-dropdown">
        <a href="#">
          <i class="ri-pages-line sidebar-menu-item-icon"></i>
          Reportes
          <i class="ri-arrow-down-s-line sidebar-menu-item-accordion ms-auto"></i>
        </a>
        <ul class="sidebar-dropdown-menu">
          <li class="sidebar-dropdown-menu-item">
            <a href="/auth/reporteventas">
              Reporte ventas
            </a>
          </li>
          <li class="sidebar-dropdown-menu-item">
            <a href="/auth/reportecompras">
              Reporte Compras
            </a>
          </li>
        </ul>
      </li>
    </ul>


  </div>
  <div class="sidebar-overlay"></div>
  <!-- end: Sidebar -->

  <!-- start: Main -->
  <main class="bg-light">
    <div class="p-2">
      <!-- start: Navbar -->
      <nav class="px-3 py-2 bg-white rounded shadow-sm">
        <i class="ri-menu-line sidebar-toggle me-3 d-block d-md-none"></i>
        <h5 class="fw-bold mb-0 me-auto">Reportes</h5>

        <div class="dropdown">
          <div class="d-flex align-items-center cursor-pointer dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false">
            <span class="me-2 d-none d-sm-block">Administrador </span>
            <img class="navbar-profile-image"
              src="https://marketplace.magento.com/media/catalog/product/4/a/4acb_rsz_admin-logo_1.png" alt="Image">
          </div>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Perfil</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">Cerrar Session</a>
          </div>
        </div>
      </nav>
      <!-- end: Navbar -->

      <!-- start: Content -->
      <div class="py-4">
        <div class="container">
          <div id="formulario" style="display: flex; gap: 90px;">


            <div class="form-group">
              <label for="fecha_inicio">Fecha de inicio:</label>
              <input type="date" class="form-control" id="fecha_inicio" name="fecha_venta" required>
            </div>

            <div class="form-group">
              <label for="fecha_fin">Fecha de fin:</label>
              <input type="date" class="form-control" name="fecha_venta" id="fecha_fin" required>
            </div>
            <div class="form-group">
              <label for="fecha_fin"></label>
              <button id="buscar" class="btn btn-primary form-control">Buscar</button>
            </div>
          </div>

          <div class="tabla">
            <button id="exportar-pdf" class="btn btn-success">Exportar a PDF</button>
            <button id="exportar-excel" class="btn btn-success">Exportar a Excel</button>
            <table id="users" class="table">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Fecha Compra</th>
                  <th scope="col">Comprobante</th>
                  <th scope="col">Total Compra</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                <% reportes.forEach(function(reporte) { %>
                  <tr>
                    <td>
                      <%= reporte.idcompra %>
                    </td>
                    <td>
                      <%= reporte.fecha_compra.toLocaleString('es-ES', { day: '2-digit' , month: '2-digit' ,
                        year: 'numeric' , hour: '2-digit' , minute: '2-digit' }) %>
                    </td>
                    <td>
                      <%= reporte.tipo_comprobante %>
                    </td>
                    <td>
                      <%= reporte.totalcompra %>
                    </td>
                  </tr>
                  <% }); %>
              </tbody>
            </table>

            <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
            <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
            <script>
              $(document).ready(function () {
                $('#users').DataTable();
              });
            </script>
          </div>


        </div>
      </div>
    </div>

    <!-- Incluir las bibliotecas pdfmake y vfs_fonts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/vfs_fonts.js"></script>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      document.getElementById('buscar').addEventListener('click', function (event) {
        // Obtén los valores de las fechas ingresadas por el usuario
        var fechaInicio = document.getElementById('fecha_inicio').value;
        var fechaFin = document.getElementById('fecha_fin').value;

        // Realiza una solicitud al servidor enviando las fechas
        axios.get(`/auth/reportecomprasjson`)
          .then(response => {
            var data = response.data;

            // Filtra los datos por fecha dentro del rango especificado
            var datosFiltrados = data.filter(function (reporte) {
              var fechaCompra = new Date(reporte.fecha_compra);
              return fechaCompra >= new Date(fechaInicio) && fechaCompra <= new Date(fechaFin);
            });

            // Actualiza la tabla con los datos filtrados
            var tbody = document.querySelector('#users tbody');
            tbody.innerHTML = '';

            datosFiltrados.forEach(function (reporte) {
              var row = document.createElement('tr');
              row.innerHTML = `
                        <td>${reporte.idcompra}</td>
                        <td>${reporte.fecha_compra.split('T')[0]}</td>
                        <td>${reporte.tipo_comprobante}</td>
                        <td>${reporte.totalcompra}</td>
                      `;
              tbody.appendChild(row);
            });
          })
          .catch(error => console.error(error));
      });

      document.getElementById('exportar-excel').addEventListener('click', function (event) {
        // Obtener los datos de la tabla
        var tabla = document.getElementById('users');
        var filas = tabla.getElementsByTagName('tr');

        // Definir una matriz para almacenar los datos
        var data = [];

        // Obtener los datos de cada fila y agregarlos a la matriz
        for (var i = 0; i < filas.length; i++) {
          var celdas = filas[i].getElementsByTagName('td');
          var rowData = [];
          for (var j = 0; j < celdas.length; j++) {
            rowData.push(celdas[j].innerText);
          }
          data.push(rowData);
        }

        // Crear un objeto de libro de Excel
        var workbook = XLSX.utils.book_new();

        // Crear una hoja de cálculo y agregar los datos
        var worksheet = XLSX.utils.aoa_to_sheet(data);
        XLSX.utils.book_append_sheet(workbook, worksheet, 'Reporte de Compras');

        // Guardar el libro de Excel como archivo
        var fechaActual = new Date().toISOString().slice(0, 10);
        var nombreArchivo = 'reporte_compras_' + fechaActual + '.xlsx';
        XLSX.writeFile(workbook, nombreArchivo);
      });

      document.getElementById('exportar-pdf').addEventListener('click', function (event) {
  // Obtener los datos de la tabla
  var tabla = document.getElementById('users');
  var filas = tabla.getElementsByTagName('tr');

  // Crear la estructura de datos para el contenido del PDF
  var content = [];

  // Agregar las columnas de la tabla
  var columns = [];
  var headerCells = filas[0].getElementsByTagName('th');
  for (var i = 0; i < headerCells.length; i++) {
    columns.push({ text: headerCells[i].innerText, style: 'tableHeader' });
  }
  content.push(columns);

  // Agregar las filas de la tabla
  for (var j = 1; j < filas.length; j++) {
    var rowCells = filas[j].getElementsByTagName('td');
    var rowData = [];
    for (var k = 0; k < rowCells.length; k++) {
      rowData.push(rowCells[k].innerText);
    }
    content.push(rowData);
  }

  // Definir los estilos para el PDF
  var styles = {
    tableHeader: {
      bold: true,
      fontSize: 12,
      color: 'black'
    }
  };

  // Configurar el documento PDF
  var docDefinition = {
    content: [
      {
        text: 'Reporte de Compras',
        style: 'header'
      },
      {
        table: {
          widths: Array(columns.length).fill('*'), // Establecer todos los elementos en '*'
          body: content
        },
        layout: 'lightHorizontalLines'
      }
    ],
    styles: styles
  };

  // Generar el archivo PDF
  pdfMake.createPdf(docDefinition).download('reporte_compras.pdf');
});

    </script>



    <!-- end: Content -->
    </div>
  </main>
  <!-- end: Main -->

  <!-- start: JS -->
  <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"
    integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
  <script src="/src/css/script.js"></script>
  <script src="/src/css/jquery-3.5.1.js"></script>
  <script src="/src/css/jquery.dataTables.min.js"></script>
  <script src="/src/css/dataTables.bootstrap5.min.js"></script>
  <!-- end: JS -->


</body>

</html>